.App {
  text-align: center;
  display: grid;
  height:100vh;
  justify-content: center;
  align-content: center;
  gap: 10px;
  background-color: rgb(177, 220, 20);
}

button{
  background-color: transparent;
  padding:5px;

}
